.Home{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.create_form input {
    width: 300px;
    padding: 10px;
    border: 2px solid azure;
    outline: none;
}
.create_form button {
   padding: 10px;
   margin-left: 5px;
   background: #000;
   border: 2px solid azure;
   color:azure;
    cursor: pointer;
}